CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ENABLE_CHIP_SHELL=y
CONFIG_CHIP_DEVICE_PRODUCT_NAME="CaregiverCall"
CONFIG_CHIP_DEVICE_VENDOR_NAME="elecage"

